<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LisMSSQLConnectionString" connectionString="Data Source=10.1.10.237;Initial Catalog=digitlab;Persist Security Info=True;User ID=sa;Password=idoc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>