<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <configSections>
    
  </configSections>
  <lis>
    <sections>
      <section name="" display="">
        <item />
      </section>
    </sections>
  </lis>
  -->
  <connectionStrings>
    <add name="LisMSSQLConnectionString" connectionString="Data Source=10.1.10.237;Initial Catalog=digitlab;Persist Security Info=True;User ID=sa;Password=idoc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CombineRootPath"  value="E:\lis-remote"/>
    <add key="CombineSections" value="4:止血血栓;5:免疫IMAGE;11:分子遗传;17:生化AU2700;19:免疫TECAN150;20:免疫DXI800;21:免疫SUNRISE;23:生化血气;25:免疫BN11;29:生化AU480;30:免疫手工;33:免疫I2000;34:生化荧光免疫;35:免疫Spife4000;63:免疫Immulite1000;18:溶血;2:临检血常规;27:临检血常规;28:临检UF1000I;62:临检夜班"/>
    <add key="PdfFileRootPath" value="E:\lis"/>
    <add key="GSRemotePath" value="E:\gs"/>
  </appSettings>
</configuration>